<mat-card class="card mat-elevation-z8">
   <mat-card-header>
     <mat-card-title>To-Do-List</mat-card-title>
     <mat-card-subtitle>Gerencie tudo com facilidade</mat-card-subtitle>
   </mat-card-header>
   <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
   <mat-card-content>
     <p>
      Olá! Sistema FullStack, utlizando Java, com SpringBoot, no Backend, e Angular no Frontend.<br />
      Esse é um sistema para gerenciamento de tarefas, desenvolvido em Angular 17 e
      Spring Boot 2. <br />
      Esse projeto consiste em gerenciar demandas, no modelo To-Do-List, onde, você cadastra as tarefas, e define a validade.<br />
      O sistema ainda conta com a Criação, Edição, Listagem e Exclusão de Tarefas, Autenticação e Autorização com
      Tokens JWT e muito mais. O código fonte deste projeto pode ser acessado clicando no link Github no menu ao lado.
      <br /><br /> Foi um desafio interessante, desenvolver um sistema completo tão funcional e em tão pouco tempo.
      <br /> At.te: To-Do-List
     </p>
   </mat-card-content>
 </mat-card>